* {
  margin: 0;
  padding: 0;
  background-color: #f5ebe0;
  font-family: 'Arial', sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #d5bdaf;
  margin: 0;
  padding: 2em;
}

.logo {
  font-size: 24px;
  font-style: italic;
  background-color: #d5bdaf;
  color: black;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6em;
  height: 60vh;
}

h2 {
  font-size: 26px;
  color: #6b4c3b;
  margin-bottom: 10px;
  text-align: left;
}

.leftside {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 48px;
  color: #6b4c3b;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #4b3832;
  margin-bottom: 30px;
}

.get-started-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #6b4c3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rightside {
  width: 35%;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name,
.email {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  color: #6b4c3b;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.leftside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60vh;
}


.login-btn {
  margin-top: 30px;
  padding: 10px 60px;
  font-size: 18px;
  background-color: #6b4c3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.other-btn {
  margin-top: 20px;
  font-size: 14px;
  color: #4b3832;
  border-color: #6b4c3b;
  cursor: pointer;
  padding: 10px 40px;
}

.other-btn:hover {
  background-color: #d5bdaf;
}

.other-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}